@charset "UTF-8";
html {
  margin: auto;
  min-width: 320px;
  max-width: 1200px;
}

* {
  --sb-track-color: #0000;
  --sb-thumb-color: #8a8a8a;
  --sb-size: 4px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

body {
  color: #000;
  height: 100%;
  flex-direction: column;
  background-color: #f9f9f9;
  margin-inline: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  font-family: sans-serif;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100dvh;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  -webkit-padding-before: 16px;
          padding-block-start: 16px;
  color: #000;
}

main {
  flex-grow: 1;
  margin-block: 8px;
  display: flex;
  flex-direction: column;
}

footer {
  -webkit-padding-after: 16px;
          padding-block-end: 16px;
}

textarea {
  box-sizing: border-box;
  resize: none;
  height: 10em;
  padding: 16px;
  color: #000;
  background-color: #fdfdfd;
  border: 1px solid #eaeaea;
  -webkit-border-after: 1px solid #919493;
          border-block-end: 1px solid #919493;
  border-radius: 6px;
  transition: -webkit-border-after 0.1s ease-out;
  transition: border-block-end 0.1s ease-out;
  transition: border-block-end 0.1s ease-out, -webkit-border-after 0.1s ease-out;
}
textarea:focus {
  -webkit-border-after: 2px solid #556772;
          border-block-end: 2px solid #556772;
}
textarea::selection {
  background-color: #617884;
  color: #fff;
}
main textarea {
  flex-grow: 1;
}

#completion-info,
#usage-info {
  font-size: 12px;
  color: #7c7c7c;
}

.btn-container {
  margin-block: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

button {
  height: 34px;
  padding: 4px 12px;
  color: #000;
  background-color: #fdfdfd;
  border: 1px solid #eaeaea;
  -webkit-border-after: 1px solid #919493;
          border-block-end: 1px solid #919493;
  border-radius: 6px;
}
button svg {
  height: 100%;
}
button[disabled] {
  background-color: #f5f5f5;
  color: #9d9d9d;
  border: 1px solid #e5e5e5;
}
button.transparent {
  padding: 4px;
  background-color: transparent;
  border: none;
}
button.painted {
  color: #fff;
  background-color: #4c5f6b;
  border: 1px solid #4c5f6b;
  -webkit-border-after: 1px solid #323e46;
          border-block-end: 1px solid #323e46;
}

input {
  height: 34px;
  box-sizing: border-box;
  padding-inline: 6px;
  color: #000;
  background-color: #fdfdfd;
  border: 1px solid #eaeaea;
  -webkit-border-after: 1px solid #919493;
          border-block-end: 1px solid #919493;
  border-radius: 6px;
  transition: -webkit-border-after 0.1s ease-out;
  transition: border-block-end 0.1s ease-out;
  transition: border-block-end 0.1s ease-out, -webkit-border-after 0.1s ease-out;
}
input.small {
  width: 25%;
}
input.wide {
  width: 100%;
}
input:focus {
  -webkit-border-after: 2px solid #556772;
          border-block-end: 2px solid #556772;
}
input::selection {
  background-color: #617884;
  color: #fff;
}

select {
  height: 34px;
  padding-inline: 6px;
  color: #000;
  background-color: #fdfdfd;
  border: 1px solid #eaeaea;
  -webkit-border-after: 1px solid #d8d8d8;
          border-block-end: 1px solid #d8d8d8;
  border-radius: 6px;
}

/* モーダルウィンドウのスタイル */
.modal {
  display: none; /* 初期状態では非表示にする */
  position: fixed; /* 画面に固定する */
  z-index: 1; /* 他の要素よりも前面に表示する */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* コンテンツが画面に収まらない場合にスクロールバーを表示する */
  background-color: rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 800px) {
  .modal {
    background-color: hsl(0, 0%, 98%);
  }
}

.modal-content {
  min-width: 320px;
  max-width: 780px;
  background-color: #f9f9f9;
  color: #000;
  box-shadow: 0px 32px 32px -16px rgba(0, 0, 0, 0.25);
  margin: 32px auto; /* 画面中央に配置する */
  padding-block: 20px;
  padding-inline: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  border: 1px solid #e5e5e5;
  border-radius: 6px;
}
@media screen and (max-width: 800px) {
  .modal-content {
    max-width: 800px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100dvh;
    background-color: transparent;
    margin: 0;
    border: none;
    border-radius: 0px;
  }
}

.modal-header-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-header-container .btn-container {
  margin: 0;
}

.modal-content .modal-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* モーダルタイトルバーのスタイル */
  /* モーダルヘッダー内のテキストのスタイル */
}
.modal-content .modal-header .modal-titlebar {
  display: flex;
  align-items: center;
  gap: 8px;
}
.modal-content .modal-header .modal-titlebar svg {
  height: 20px;
  width: 20px;
}
.modal-content .modal-header p {
  font-size: 12px;
  color: #5f5f5f;
}

.modal-content .modal-footer {
  display: none;
}
.modal-content .modal-footer p {
  font-size: 12px;
  color: #5f5f5f;
}
@media screen and (max-width: 800px) {
  .modal-content .modal-footer {
    display: none;
  }
}

.setting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  background-color: #fdfdfd;
  margin-block: 8px;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}
@media screen and (max-width: 800px) {
  .setting-container {
    flex-direction: column;
  }
}
.setting-container .setting-left {
  display: flex;
}
.setting-container .setting-left .setting-emoji {
  display: flex;
  align-items: center;
  height: 42px;
  -webkit-margin-end: 12px;
          margin-inline-end: 12px;
}
.setting-container .setting-left .setting-emoji img.emoji {
  height: 24px;
  width: 24px;
}
.setting-container p.setting-desc {
  font-size: 12px;
  color: #606060;
}

.setting-key {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 8px;
  -webkit-margin-start: 8px;
          margin-inline-start: 8px;
  margin-block: auto;
  width: 50%;
}
.setting-key .btn-container {
  justify-content: end;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .setting-key {
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    width: 100%;
  }
}

/* モーダルウィンドウが表示されたときのアニメーション */
@-webkit-keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 通知 */
#notification-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding-inline: 1rem;
  -webkit-padding-after: 0.5rem;
          padding-block-end: 0.5rem;
  z-index: 1000;
  overflow-y: auto;
}

.notification {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
  -webkit-padding-end: 16px;
          padding-inline-end: 16px;
  padding-block: 12px;
  -webkit-margin-after: 0.5rem;
          margin-block-end: 0.5rem;
  font-size: 1rem;
  word-wrap: break-word;
  color: #000;
  background-color: #f2f2f2;
  border-radius: 6px;
  box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.2);
}
.notification p {
  line-height: 1.5rem;
  margin: 0;
}
.notification.success {
  background-color: #dff6dd;
}
.notification.warning {
  background-color: #fff4ce;
}
.notification.error {
  background-color: #fde7e9;
}
.notification.default {
  background-color: #f2f2f2;
}

.notification-icon {
  height: 20px;
  width: 22px;
  font-size: 1.25rem;
  display: flex;
}
.notification-icon.success {
  color: #0f7b0f;
}
.notification-icon.warning {
  color: #9d5d00;
}
.notification-icon.error {
  color: #c42b1c;
}
.notification-icon.default {
  color: #8a8a8a;
}

.notification-time {
  line-height: 12px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.close-button {
  background-color: transparent;
  border: none;
  height: auto;
  font-size: 1.25rem;
  color: #000;
  -webkit-margin-start: 2px;
          margin-inline-start: 2px;
  padding: 0;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes scaleBeat {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(150%);
            transform: scale(150%);
  }
}
@keyframes scaleBeat {
  0% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
  100% {
    -webkit-transform: scale(150%);
            transform: scale(150%);
  }
}
@-webkit-keyframes modalFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modalFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */